* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: rgb(244, 244, 244); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.88);
  min-width: 400px;
  min-height: 550px;
  border-radius: 8px;
  box-shadow: 0 0 20px black;
  gap: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
}

.inputs > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inputs > div > label {
  color: white;
  display: flex;
  align-items: center;
}

.inputs > div > input {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.timeDisplay {
  color: white;
  font-size: 3rem;
}

button {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}

.footer > a {
  text-decoration: none;
  color: black;
}
